LLM_URL=gpu06:9000
ENDPOINT_PATH=/v1/completions
MODELS_ENDPOINT=/v1/models
CAPTURE_RESPONSES=true
CAPTURE_REQUESTS=true
SIMULATION_MINUTES=60
TOTAL_USERS=50000
LOW_USAGE_REQUESTS_PER_HOUR=10
HIGH_USAGE_REQUESTS_PER_HOUR=50
HIGH_USAGE_USER_SHARE=0.5
BASIC_SHARE=0.7
STANDARD_SHARE=0.2
PRO_SHARE=0.1
UNITS_PER_REQUEST=10
MIN_OUTPUT_LENGTH=1
MAX_OUTPUT_LENGTH=100
LLM_PROMPT="Please provide me with a list of the 100 most well known global (brand) names, trademarks, social media account names or other important terms such as blockchain, music, art, computer, games. And think of brands such as Google, Facebook, Walmart, Aliexpress, etc. Provide this in a machine readable CSV format. Use one row per brand and sort the list by importance. I need the following columns: Brand Name, Valuation (in million euros), Yearly revenue (in million euros), Number of employees and the Year the brand was established."